@import url("https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap");

:root {
  --bg-purple: #540b51;
  --bg-ivory: #f3eae2;
  --button-blue: #4285f4;
  --titles-black: #191817;
  --paragraph-black: #000000;
  --paragraph-yellow: #ecb12f;
  --link-blue: #2e71a6;
  --footer-links-grey: #454245;
}

* {
  font-family: "arimo";
  font-weight: 600;
}

body {
  background-color: var(--bg-purple);
  margin: 0;
}

/* NAV BAR */
nav {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;

  img {
    height: 20px;
  }
}

li {
  list-style-type: none;
}
.button-nav button {
  display: flex;
  width: max-content;
}

.menu-icon,
.search-icon {
  background: none;
  border: none;
  height: 20px;

  img {
    display: inline-block;
  }
}
/* HEADER */
header {
  color: var(--bg-ivory);
  text-align: center;

  img {
    /* change */
    height: 100px;
  }
}

.hearder-p {
  color: var(--paragraph-yellow);
}

/* BUTTONS HEADER */

.btn-header {
  padding: 20px 0px;
}

button {
  width: 120vh;
  padding: 10px;
  height: 60px;
  border: none;
  border-radius: 5px;
}

/*  BUTTON SIGN UP */
.btn-signup {
  text-transform: uppercase;
  font-weight: lighter;
}

/*  BUTTON SIGN UP WITH GOOGLE */

.btn-singo {
  display: flex;
  justify-content: center;
}

.btn-singo button {
  margin-top: 10px;
  background-color: var(--button-blue);
  color: var(--bg-ivory);
  display: flex;
  align-items: center;
  padding: 10px 20px;
}

.btn-singo img {
  height: 100%;
  background-color: var(--bg-ivory);
  margin-right: 10px;
  display: list-item;
}

.text-singo {
  display: flex;
  justify-content: center;
}

.btn-singo span {
  width: max-content;
  text-transform: uppercase;
  font-weight: lighter;
  /* !! PROBLEM WHEN IN RESPONSIVE? */
  padding-left: 45px;
}

main {
  width: 100%;
}

.logo-partners > img {
  height: 20px;
}

.social-links {
  display: flex;
}

@media (width < 768px) {
  nav ul {
    display: none;
  }
}
